.shopContainer {
	width: 100%;
	max-width: 1200px;
	display: flex;
	border-radius: 10px;
	margin: auto;
	/* background-color: white; */
	margin-top: 7px;
	animation: slide-down 300ms ease-out forwards;
}
@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-3rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
