/* .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
} */
.cart-items {
	list-style: none;
	margin: 0;
	padding: 0;
	max-height: 36rem;
	overflow: auto;
}
.total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 1rem 0;
}

.actions {
	text-align: right;
}

.actions button {
	font: inherit;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid rgb(38, 40, 51);
	padding: 0.5rem 2rem;
	border-radius: 25px;
	margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
	background-color: rgb(38, 40, 51);
	border-color: rgb(38, 40, 51);
	color: rgb(57, 233, 145);
}

.actions .button--alt {
	color: rgb(38, 40, 51);
}

.actions .button {
	background-color: rgb(38, 40, 51);
	color: rgb(57, 233, 145);
}
